.inbox {
    display: flex;
    flex-direction: row;
    border-right: 1px solid #e6ecf0;
}

.vl {
    border-right: 1px solid #e6ecf0;
    height: 600px;
}

  
.messages{
    width: 65%;
    margin-left: 25%;
    display: flex;
    flex-direction: row;

}

.part-one {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.part-one h1{
    font-size: 20px;
    font-weight: 500;
    font-family: 'Lato', sans-serif;
    margin-top: 15px;
    margin-left: 15px;
}

.ic {
    font-size: 18px;
    margin-top: 22px;
    margin-left: 20px;
}

.ic-b {
    margin-left: 12px;
    margin-right: 12px;
}

.part-two {
    text-align:left;
    margin-top: 30px;
    margin-left: 35px;
    margin-right: 35px;
}

.part-two p {
    color: #536471;
    margin-top: 12px;
    font-size: 15px;
}

.part-two button {
    text-decoration: none;
    padding: 17px 35px;
    background: #1da1f2;
    color: #fff;
    border-radius: 50px;
    margin: 35px 2px;
    outline: none;
    display: block;
    text-align: center;
    border: none;
    /* width: 60%; */
    font-size: 16px;
}

.part-three {
    text-align:left;
    margin-top: 200px;
    margin-left: 110px;
    margin-right: 35px;
}

.part-three p {
    color: #536471;
    margin-top: 12px;
    font-size: 16px;
}

.part-three button {
    text-decoration: none;
    padding: 17px 35px;
    background: #1da1f2;
    color: #fff;
    border-radius: 50px;
    margin: 35px 2px;
    outline: none;
    display: block;
    text-align: center;
    border: none;
    /* width: 60%; */
    font-size: 16px;
}

.ant-modal-footer {
    height: 300px;
}

.ant-modal {
    border-radius: 16px;
}

h2 {
    margin-bottom: 0 !important;
    line-height: 24px;
    font-size: 20px;
    color: rgb(15, 20, 25) !important;
    font-weight: 700 !important;
}

.next-btn {
    background-color: rgb(15, 20, 25);
    border-color: rgba(0, 0, 0, 0);
    opacity: 0.5;
    min-height: fit-content;
    border-radius: 100px;
    min-width: 32px;
    color: white;
    padding: 3px 15px;
    margin-right: 20px;
}

.data {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: -12px;
    margin-top: 12px;
    border: none;
}

input[type='text'], input[type='password'], input[type='number'], textarea:hover {
    background: border-box;
}