* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 

body {
  font-family: 'Lato', sans-serif;
}

.twitter {
  display: flex;
}
/* 
.sidebar {
  width: 25%;
  position: fixed;
  left: 0;
  height: 100%;
  border-right: 1px solid #e6ecf0;
}

.sidebar ul {
  list-style-type: none;
}

.sidebar ul li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #313e49;
  padding: 14px 35px;
  font-weight: 700;
  font-size: 18px;
}

.sidebar ul li a:hover {
  background: #e8f5fe;
  color: #1da1f2;
}

.icons {
  margin-right: 15px;
  font-size: 23px;
}

.logo {
  color: #1da1f2;
}

.sidebar-btn {
  margin: 15px 0;
}

.sidebar-btn a {
  text-decoration: none;
  padding: 13px 35px;
  background: #1da1f2;
  color: #fff;
  border-radius: 50px;
  margin: 0 35px;
  outline: none;
  display: block;
  text-align: center;
} */

/* posts */
.posts {
  width: 50%;
  margin-left: 25%;
  border-right: 1px solid #e6ecf0;
  /* background: red; */
  /* height: 100%; */
}

.post:hover {
  background: #f0efef;
}

.posts-home {
  width: 50%;
  top: 0;
  position: fixed;
  padding: 15px;
  z-index: 1;
  font-weight: 700;
  border-bottom: 1px solid #e6ecf0;
  border-right: 1px solid #e6ecf0;
  background-color: #fff;
}

/* createTWeeet */
.create {
  padding-top: 70px;
  border-bottom: 1px solid #e6ecf0;
  padding-bottom: 20px;
}

.create-first {
  display: flex;
  padding: 0 20px;
  align-items: center;
}

.create-img {
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
}

.create-img img {
  width: 100%;
  height: 100%;
}

.create-input {
  margin-left: 20px;
}

.createTweet_imageInput{
  border: none;
  padding: 10px;
  width: 60%;
  margin-left: 20px;
  outline: none;
}

.create-control {
  border: none;
  outline: none;
}

.create-second {
  margin-left: 20px;
  margin-top: 15px ;
  display: flex;
  align-items: center;
}

.create-icons {
  width: 50%;
  margin-left: 74px;
}

.icon {
  margin: 0 6px;
  font-size: 20px;
  cursor: pointer;
  color: #1da1f2;
}

.create-btn {
  width: 50%;
  text-align: right;
  margin-right: 35px;
  text-decoration: none;
  padding: 13px 35px;
  /* background: #1da1f2; */
  color: #fff;
  border-radius: 50px;
  margin: 0 35px;
  outline: none;
  display: block;
  text-align: center;
}

.create-btn button {
  text-decoration: none;
  background: rgb(29, 155, 240);
  color: #fff;
  border-radius: 50px;
  outline: none;
  padding: 10px 20px;
  border: none;
}

.post {
  padding: 20px ;
  border-bottom: 1px solid #e6ecf0;
}

.posts-first{
  display: flex;
  align-items: center;
} 

.posts-first-img{
  width: 50px;
  height: 50px;
  outline: none;
  border-radius: 50%;
}

.dlt-icon {
  margin-left: 35%;
  font-size: 22px;
}

.posts-first-img img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.posts-first-name {
  margin-left: 6px;
}

.verify {
  margin-left: 3px;
  color: #1da1f2;
}

.posts-first-username {
  margin-left: 6px;
  color: silver;
}

.posts-first-username span {
  display: inline-block;
  margin-left: 5px;
  font-size: 14px;
  font-weight: 300;
}

.post-details {
  margin: 8px 30px;
  overflow: hidden;
}

.post-details-img {
  width: 100%;
  margin-top: 6px;
  text-align: center;
}

.post-details-img img {
  /* height: 20%; */
  /* width: 80%; */
  /* border-radius: 20px; */
  border-top: 20px;
}
.row{
  display: flex;
}

.reaction {
  display: flex;
  justify-content: space-between;
  margin: 8px 0;
  color: rgb(192, 172, 172);
  align-items: center;
}

/* trends */
.trends{
  width: 25%;
  align-items: center;
  height: 100%;
}

.trends-search{
  align-items: center;
  position: fixed;
  width: 25%;
  padding-top: 10px;
  right: 0;
  /* border-bottom: 1px solid #e6ecf0; */
  padding-bottom: 10px;
  margin-left: 20px;
  background: #fff;
}

.trends-control {
  border: none;
  width: 90%;
  margin-left: 20px;
  outline: none;
  background: #f5f4f2;
  border-radius: 50px;
  padding: 15px 40px;
}

.trend-icon{
  position: absolute;
  top: 22px;
  left: 40px;
}

.search {
  font-size: 20px;
  columns: silver;
}

.keywords {
  position: fixed; 
  padding: 0 20px;
  top: 70px;
  right: 0;
  width: 25%;
}

.key {
  position: relative; 
  flex-shrink: 0;
  background: #f5f4f2;
  border-radius:10px;
  padding-top: 15px;
}

.data {
  display: flex;
  flex-direction: row;
  padding: 20px 20px;
  border-radius: 5px;
  border-bottom: 1px solid #e6ecf0;
}

.data:hover {
  background: #dfdede;
}

.keyword-heading {
  font-size: 20px;
  border-bottom: 1px solid #e6ecf0;
  padding-bottom: 8px;
  padding-left: 20px;
}

.tweet-heading {
  color: rgb(155, 152, 152);
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 10px 0;
}

.tweet-content {
  margin-bottom: 8px;
}

.hastags {
  color: rgb(155, 152, 152);
  font-size: 14px;
  margin-top: 7px;
  font-weight: 300;

}

.hastags span {
  color: #2097e0;
}

.trend-img{
  margin-top: 50px;
  width: 140px;
  height: 60px;
  overflow: hidden;
  border-radius: 5px;
}

.trend-img img {
  width: 100%;
  height: 100%;
}

.profile-info {
  width: 50%;
  margin-left: 25%;
  border-right: 1px solid #e6ecf0;
}

.header {
  width: 50%;
  top: 0;
  position: fixed;
  padding: 15px;
  z-index: 1;
  font-weight: 700;
  border-bottom: 1px solid #e6ecf0;
  border-right: 1px solid #e6ecf0;
  background-color: #fff;
  font-size: larger;
  font-family: 'Lato', sans-serif;
  align-items: center;
}

.arrow {
  margin-right: 30px;
}