* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

.twitter {
  display: flex;
}

/* posts */
.posts {
  width: 50%;
  margin-left: 25%;
  border-right: 1px solid #e6ecf0;
}

.post:hover {
  background: #f0efef;
}

.posts-home {
  width: 50%;
  top: 0;
  position: fixed;
  padding: 15px;
  z-index: 1;
  font-weight: 700;
  border-bottom: 1px solid #e6ecf0;
  border-right: 1px solid #e6ecf0;
  background-color: #fff;
}

.twt {
  border: none;
  outline: none;
  font-size: 20px;
  user-select: text;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  margin-bottom: 100px;
}

/* createTWeeet */
.create {
  padding-top: 70px;
  border-bottom: 1px solid #e6ecf0;
  padding-bottom: 20px;
}

.create-first {
  display: flex;
  padding: 0 20px;
  align-items: center;
}

.create-img {
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
}

.create-img img {
  width: 100%;
  height: 100%;
}

.create-input {
  margin-left: 20px;
}

.createTweet_imageInput {
  border: none;
  padding: 10px;
  width: 60%;
  margin-left: 20px;
  outline: none;
}

.create-control {
  border: none;
  outline: none;
}

.create-second {
  display: flex;
  align-items: center;
}

.create-icons {
  width: 50%;
  margin-left: 74px;
  align-items: center;
  display: flex;
}

.icon-img {
  width: 40px;
  margin: 0 auto;
}

.icon-img label {
  border: none;
  margin-left: 70px;
}

  .icon-img span {
    display: none;
  }

.icon {
  margin: 0 6px;
  font-size: 20px;
  cursor: pointer;
  color: #1da1f2;
}

.create-btn {
  width: 50%;
  text-align: right;
  margin-right: 35px;
  text-decoration: none;
  padding: 13px 35px;
  color: #fff;
  border-radius: 50px;
  margin: 0 35px;
  outline: none;
  display: block;
  text-align: center;
}

.create-btn button {
  text-decoration: none;
  background: rgb(29, 155, 240);
  color: #fff;
  border-radius: 50px;
  outline: none;
  padding: 10px 20px;
  border: none;
}

.post {
  padding: 20px;
  border-bottom: 1px solid #e6ecf0;
}

.posts-first {
  display: flex;
  align-items: center;
}

.posts-first-img {
  width: 50px;
  height: 50px;
  outline: none;
  border-radius: 50%;
}

.dlt-icon {
  margin-left: 35%;
  font-size: 22px;
}

.posts-first-img img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.posts-first-name {
  margin-left: 6px;
}

.verify {
  margin-left: 3px;
  color: #1da1f2;
}

.posts-first-username {
  margin-left: 6px;
  color: silver;
}

.posts-first-username span {
  display: inline-block;
  margin-left: 5px;
  font-size: 14px;
  font-weight: 300;
}

.post-details {
  margin: 8px 30px;
  overflow: hidden;
}

.post-details-img {
  width: 100%;
  margin-top: 6px;
  text-align: center;
}

.post-details-img img {
  border-top: 20px;
}

.row {
  display: flex;
}

.reaction {
  display: flex;
  justify-content: space-between;
  margin: 8px 0;
  color: rgb(192, 172, 172);
  align-items: center;
}

.liked {
  color: red;
}

/* trends */
.trends {
  width: 25%;
  align-items: center;
  height: 100%;
}

.trends-search {
  align-items: center;
  position: fixed;
  width: 25%;
  padding-top: 10px;
  right: 0;
  padding-bottom: 10px;
  margin-left: 20px;
  background: #fff;
}

.trends-control {
  border: none;
  width: 90%;
  margin-left: 20px;
  outline: none;
  background: #f5f4f2;
  border-radius: 50px;
  padding: 15px 40px;
}

.trend-icon {
  position: absolute;
  top: 22px;
  left: 40px;
}

.search {
  font-size: 20px;
  columns: silver;
}

.keywords {
  position: fixed;
  padding: 0 20px;
  top: 70px;
  right: 0;
  width: 25%;
}

.key {
  position: relative;
  flex-shrink: 0;
  background: #f5f4f2;
  border-radius: 10px;
  padding-top: 15px;
}

.data {
  display: flex;
  flex-direction: row;
  padding: 20px 20px;
  border-radius: 5px;
  border-bottom: 1px solid #e6ecf0;
}

.data:hover {
  background: #dfdede;
}

.keyword-heading {
  font-size: 20px;
  border-bottom: 1px solid #e6ecf0;
  padding-bottom: 8px;
  padding-left: 20px;
}

.tweet-heading {
  color: rgb(155, 152, 152);
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 10px 0;
}

.tweet-content {
  margin-bottom: 8px;
}

.hastags {
  color: rgb(155, 152, 152);
  font-size: 14px;
  margin-top: 7px;
  font-weight: 300;
}

.hastags span {
  color: #2097e0;
}

.trend-img {
  margin-top: 50px;
  width: 140px;
  height: 60px;
  overflow: hidden;
  border-radius: 5px;
}

.trend-img img {
  width: 100%;
  height: 100%;
}

.profile-info {
  width: 50%;
  margin-left: 25%;
  border-right: 1px solid #e6ecf0;
}

.header {
  width: 50%;
  top: 0;
  position: fixed;
  padding: 15px;
  z-index: 1;
  font-weight: 700;
  border-bottom: 1px solid #e6ecf0;
  border-right: 1px solid #e6ecf0;
  background-color: #fff;
  font-size: larger;
  font-family: "Lato", sans-serif;
  align-items: center;
}

.arrow {
  margin-right: 30px;
}

.explore-twittes {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  padding-top: 10px;
  border-right: 1px solid #e6ecf0;
  padding-bottom: 10px;
  margin-left: 25%;
  background: #fff;
}

.explore {
  display: flex;
  align-items: center;
  position: fixed;
  width: 45%;
  padding-top: 10px;
  padding-bottom: 10px;
  background: #fff;
}

.icon-div {
  margin: 0 20px;
}

.list {
  margin: 100px 10px 0 10px;
  border-bottom: 1px solid #e6ecf0;
  border-width: 100%;
  padding-bottom: 15px;
}

.list button {
  border: none;
  margin: 0 15px;
  font-size: 16px;
  background: #fff;
  color: rgb(128, 122, 122);
  font-weight: 400;
}

.list button:hover {
  background: #e6ecf0;
  padding: 15px;
}

.n-one {
  display: flex;
  width: 50%;
  margin-left: 26%;
}
